.home__quiz-description {
  background: rgba(255, 255, 255, 0.2);

  @apply tw-flex tw-flex-col tw-p-5 sm:tw-p-0 tw-mx-5 sm:tw-mx-0 tw-rounded-lg sm:tw-bg-transparent;
}

@media (min-width: 640px) {
  .home__quiz-description {
    width: 640px;
  }
}

a.home__button {
  box-shadow: 0px 0px 0px 2px rgb(31, 41, 55) inset;

  @apply tw-w-56
  tw-self-center
  tw-py-5
  tw-text-center
  tw-text-2xl
  tw-tracking-wide
  tw-rounded-lg
  tw-relative;
}

a.home__button:hover {
  box-shadow: 0px 0px 0px 3px rgb(31, 41, 55) inset;

  @apply tw-font-bold tw-tracking-normal;
}

a.home__button:active::after {
  content: '';

  @apply tw-absolute tw-top-0 tw-left-0 tw-h-full tw-w-full tw-bg-black tw-opacity-15;
}