.quiz__poster,
.quiz__options-container {
  @apply tw-mx-1.5 md:tw-mx-3;
}

.quiz__poster {
  max-width: calc(43% - 24px);

  @apply tw-mb-3 md:tw-mb-6;
}

@media (min-width: 768px) {
  .quiz__poster {
    max-width: calc(25% - 24px);
  }
}

@media (min-width: 1024px) {
  .quiz__poster {
    width: calc(25% - 24px);
    max-width: 300px;
  }
}

.quiz__poster--loading {
  border-style: inset;

  @apply tw-self-center
  tw-p-8
  tw-text-center
  tw-text-2xl
  tw-font-bold
  tw-bg-white
  tw-border-8
  tw-border-gray-800
  tw-rounded;
}

.quiz__options-container {
  @apply tw-h-40
  md:tw-h-56
  tw-w-full
  max-md:tw-mx-0
  tw-self-center
  tw-border-4
  tw-border-gray-800
  tw-rounded-2xl
  md:tw-rounded-full
  tw-overflow-hidden;
}

@media (min-width: 1024px) {
  .quiz__options-container {
    max-width: 1346px;

    @apply tw-h-72;
  }
}

.quiz__option,
.quiz__button {
  @apply tw-flex
  tw-items-center
  tw-justify-center
  tw-p-2
  lg:tw-p-4
  md:tw-text-2xl
  lg:tw-text-3xl
  tw-text-center;
}

.quiz__option {
  @apply tw-h-1/2
  tw-w-1/2
  tw-bg-white
  tw-bg-opacity-75
  [&:nth-child(1)]:tw-border-b-4
  [&:nth-child(2)]:tw-border-b-4
  odd:tw-border-r-4
  tw-border-gray-800
  tw-border-b-0
  hover:tw-cursor-pointer
  hover:tw-opacity-100
  hover:tw-bg-opacity-100;
}

.quiz__option:first-child {
  @apply tw-border-t-0;
}

.quiz__option.is-correct {
  background: rgb(147, 212, 127);
}

.quiz__option.is-wrong {
  @apply tw-bg-red-300;
}

.quiz__button {
  background: rgb(174,223,159);

  @apply tw-h-1/3
  tw-w-full
  tw-border-t-4
  tw-border-gray-800
  tw-bg-opacity-75
  tw-relative;
}

.quiz__button.is-disabled::after {
  content: '';

  @apply tw-h-full tw-w-full tw-bg-black tw-opacity-40 tw-absolute tw-top-0 tw-left-0 tw-z-10;
}

.quiz__button.is-disabled:hover {
  background: rgb(174,223,159);

  @apply tw-cursor-default;
}

.quiz__button:hover {
  background: rgb(147, 212, 127);
}

.quiz__button.is-wrong {
  @apply tw-bg-red-200;
}

.quiz__button.is-wrong:hover {
  @apply tw-bg-red-300;
}

